@import 'colors.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

button {
  background-color: var(--accent-color);
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
}

input {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  text-align: center;
}

input:focus {
  outline: 1px solid var(--accent-color);
}
