@import url('../../../../styles/colors.css');

.plantLabel {
    text-align: end;
}

.rowTimeline {
    width: 100%;
    display: grid;
    height: 1rem;
    column-gap: 1px;
}

.dayBlock {
    background-color: var(--secondary-color);
    grid-row: 1;
}
